/******************************************************************
Site Name:
Author:

We are using Susy2 for the Grid.
We will define the main blocks such as Main-Content, Sidebar ...etc here.

http://susy.oddbird.net/ - Grids using Compass. Very elegant.

******************************************************************/

// import susy
@import "susy";
// import breakpoint
@import "breakpoint";

//Global Settings
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
);

/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/

.main-wrapper {
}

.main-wrapper {
  @include breakpoint(320px) {
    @include full;
  }
  @include breakpoint(1028px) {
    @include span(9 of 12);
  }
}

.sidebar {
  @include breakpoint(320px) {
    display: none;
  }
  @include breakpoint(1028px) {
    display: block;
    @include span(3 of 12 last);
  }
}

@media (max-width: 767px) {



}
// end mobile styles


/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {


}
// end tablet

/* Landscape to small desktop */
@media (min-width: 1030px) {



}
// end desktop styles
