/******************************************************************
Site Name:
Author:

We are using Susy2 for the Grid.
We will define the main blocks such as Main-Content, Sidebar ...etc here.

http://susy.oddbird.net/ - Grids using Compass. Very elegant.

******************************************************************/

// import susy
@import "susy";
// import breakpoint
@import "breakpoint";

//Global Settings
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
);

/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/
// Wrapper
.wrap {
  @include breakpoint(320px) {
    width: 96%;
    margin: 0 auto;
  }
  @include breakpoint(768px) {
    width: 96%;
    margin: 0 auto;
  }
  @include breakpoint(1030px) {
    width: 960px;
    margin: 0 auto;
  }
  @include breakpoint(1440px) {
    width: 1280px;
  }

}
// Main Content
.main-wrapper {
  @include breakpoint(320px) {
    @include full;
  }
  @include breakpoint(768px) {
    
  }
  @include breakpoint(1030px) {
    @include span(9 of 12);
  }
}
//Sidebar(s)
.sidebar {
  @include breakpoint(320px) {
    display: none;
  }
  @include breakpoint(768px) {

  }
  @include breakpoint(1030px) {
    display: block;
    @include span(3 of 12 last);
  }
}
